{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
{% load static %}

<div class="relative w-full h-screen overflow-hidden"><!-- Full-screen video section -->
  <video
    src="{% static 'video/play_with_pet.mp4' %}"
    autoplay
    muted
    loop
    playsinline
    class="w-full h-full object-cover"
  ></video>

<div class="absolute inset-0 flex flex-col items-center justify-center z-30 space-y-8 scale-[1.5]">
  <img 
      src="{% static 'img/AM_logo.png' %}" 
      alt="Adopt Me!"
      class="w-48 md:w-72 drop-shadow-xl scale-[1.5]"
    >
  {% if user.is_authenticated %}
      <a href="{% url 'home' %}">
        <img src="{% static 'img/getstart_button.png' %}" 
             alt="Get Started"
             class="cursor-pointer transform transition-all duration-200 hover:scale-105 active:scale-90 w-64 md:w-72">
      </a>
  {% else %}
      <a href="{% url 'login' %}">
        <img src="{% static 'img/getstart_button.png' %}" 
             alt="Get Started"
             class="cursor-pointer transform transition-all duration-200 hover:scale-105 active:scale-90 w-64 md:w-72">
      </a>
  {% endif %}
</div>
  <div class="absolute bottom-0 left-0 w-full">
    <img 
      src="{% static 'img/branch_upper.png' %}" 
      class="w-full h-auto"
    >
  </div>
</div>


<div class="w-full overflow-hidden relative"><!-- Full-screen Hot Spring section -->
  <!-- Hot Spring -->
  <img 
    src="{% static 'img/Hot-Spring.webp' %}"
    alt="Hot Spring"
    class="w-full -mt-5"
  >

  <!-- branch_lower touching top edge of Hot-Spring -->
  <div class="absolute top-0 left-0 w-full">
    <img 
      src="{% static 'img/branch_lower.png' %}"
      class="w-full relative z-20"
    >
  </div>
  <!-- bar_upper touching bottom edge of Hot-Spring -->
    <div class="absolute bottom-0 left-0 w-full">
    <img 
      src="{% static 'img/bar_upper.png' %}"
      class="w-full relative z-20"
    >
  </div>
</div>

<div class="w-full overflow-hidden relative"><!-- Full-screen Forest section -->
  <!-- Hot Spring -->
  <img 
    src="{% static 'img/Forest.webp' %}"
    alt="Forest"
    class="w-full -mt-5"
  >

  <!-- branch_lower touching top edge of Hot-Spring -->
  <div class="absolute top-0 left-0 w-full">
    <img 
      src="{% static 'img/bar_lower.png' %}"
      class="w-full relative z-20"
    >
  </div>
  <!-- bar_upper touching bottom edge of Hot-Spring -->
  <div class="absolute bottom-0 left-0 w-full">
    <img 
    src="{% static 'img/ripped.png' %}"
    class="w-full block dark:hidden"
  >

  <!-- Dark mode version -->
  <img 
  src="{% static 'img/ripped_dark.png' %}"
  class="w-full hidden dark:block"
  >
  </div>
</div>

{% endblock %}
